<div class="col-md-4">
    <% @collaborator do |f| %>
      <div class="form-group">
        <% if @wiki.private?  %>
          <h4>Add a collaborator</h4>
          <%= f.select :user_id, @users %>
          <%= f.hidden_field :wiki_id, value: @wiki.id %>
          <%= f.submit "Add", class: 'btn btn-success pull-right' %>
        <% end %>
      </div>
    <% end %>
    <%= @collaborator, url: collaborator_path, method: :delete do |f| %>
      <div class="form-group">
        <% if @wiki.private? && @wiki.collaborators.any? %>
          <h4>Remove a collaborator</h4>
          <%= f.select :user_id, @collaborators %>
          <%= f.hidden_field :wiki_id, value: @wiki.id %>
          <%= f.submit "Remove", class: 'btn btn-warning pull-right' %>
        <% end %>
      </div>
    <% end %>
 </div>
