 <h1>All Wikis</h1>
 
 <div class="row">
   <div class="col-md-8">
 <!-- #7 -->
     <% @wikis.each do |wiki| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
 <!-- #if wiki is private -->
          <% if wiki.private? || current_user == @wiki.user || current_user.role == 'premium' || current_user.role == 'admin' %>
            <%= link_to (markdown wiki.title), wiki.private == 'true', class: "private" %> <small>[private]</small>
          <% else %>
            <%= link_to (markdown wiki.title), wiki %>
          <% end %>
        </h3>
        <small>Created By <%= wiki.user.username %> | <%= time_ago_in_words(wiki.created_at) %> ago</small>
      </div>
    </div>
    <% end %>
  </div>
   <div class="col-md-4">
 <!-- #if is current user -->
     <% if current_user %>
     <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
     <% end %>
   </div>
 </div>
 
   <% if current_user.role = 'standard' && current_user.standard? %>
      <h5>Upgrade to premium to make private Wikis! <%= link_to "Upgrade", new_charge_path, class: 'btn btn-success' %> </h5>
  <% end %>