 <div>
   <h1>
     <%= markdown(@wiki.title) %> <br>
   </h1>
 </div>
 <div class="row">
   <div class="col-md-8">
     <h2><%= markdown(@wiki.body) %></h2>
     <small>
       submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.user.username %>
     </small>     
    </div>
    <div>
      Private: <%= @wiki.private? %>
    </div> 
      <div class="col-md-4">
      <% if policy(@wiki).update? %>   
         <%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-success' %>
      
         <%= link_to "Delete Wiki", @wiki, method: :delete,  class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %> >
      </div>
      <% end %>
 </div> 
